<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Music Match</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <img src="#" alt="MMM-logo">
    <h1>My Music Match</h1>
</header>
<main>
    {{{body}}}
</main>
<footer> 
    <nav>
        <a href="#"><img src="/images/Spotify_Icon_CMYK_White.png" alt="spotify">Spotify</a>
        <a href="#"><img src="/images/Heart.png" alt="matches">Matches</a>
        <a href="#"><img src="/images/Windows_Settings_app_icon.png" alt="settings">Settings</a>
    </nav>
</footer>
<script src="/js/index.js"></script>
</body>
</html>