<section>
    <article>
        <img src="/images/John_frusciante_hills_observatory_press_pic_aura_t-09_0.jpg" alt="profiel foto">
        <p>{{name}}</p>
    </article>
    <article>
        <img src="/images/4-men-with-beards-funkadelic-maggot-brain-lp.jpg" alt="favourite song 1">
        <button>play</button>
        <p>{{song1}}</p>
    </article>
    <article>
        <img src="/images/550x550.jpg" alt="favourite song 2">
        <button>play</button>
        <p>{{song2}}</p>
    </article>
    <article>
        <img src="/images/R-811783-1428933697-3944.jpg" alt="favourite song 3">
        <button>play</button>
        <p>{{song3}}</p>
    </article>
</section>
<section>
    <form action="#">
        <button> <img src="/images/Heart icon.jpeg" alt="heart">Like</button>
        <button> <img src="#" alt="cross">Dislike</button>
    </form>
</section>