<article>
<img src="#" alt="profiel foto">
<p>{{name}}</p>
</article>
<article>
    <img src="#" alt="favourite song 1">
    <button>play</button>
    <p>{{song1}}</p>
</article>
<article>
    <img src="#" alt="favourite song 2">
    <button>play</button>
    <p>{{song2}}</p>
</article>
<article>
    <img src="#" alt="favourite song 3">
    <button>play</button>
    <p>{{song3}}</p>
</article>