<section>
    <form action="/login" method="post">
        <p>search for songs</p>
        <input type="text" name="username">
        <p>Password</p>
        <input type="text">
        <button>login</button>
    </form>
</section>
<section>
    <a href="#">Wachtwoord vergeten?</a>
    <p>New here?</p>
    <button>Sign Up</button>
</section>