<section>
    <form action="#">
        <p>Username</p>
        <input type="text">
        <p>Password</p>
        <input type="text">
        <button>login</button>
    </form>
</section>
<section>
    <a href="#">Wachtwoord vergeten?</a>
    <p>New here?</p>
    <button>Sign Up</button>
</section>