<section class='match'>
        {{#if users}} {{#each users}}
    <article>
        <img src= {{users.picture}} alt="profile-picture">
        <h2>{{users.name}}</h2>
        <ul>{{#each users.genres}}
            <li>{{this}},</li>
        {{/each}}
        </ul>
    </article>
    {{/each}}
    </ul>
        {{else}}
            <h1>You have no matches yet...</h1>
            {{!-- <a href="/">Explore further</a> --}}
        {{/if}}
</section>