<section class='musicList'>
        {{#if songs}}
    <ul>
        {{#each songs}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
        {{else}}
            <img class='logo' src="/images/banners/mmm logo-1.png" alt="mmm logo">
            <h1>There are no songs yet...</h1>
            <a href="/">Keep on searching for new music!</a>
        {{/if}}
</section>