section {
  color: #b3b3b3;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

article img {
  width: 7em;
  height: 7em;
}

article {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  padding: 3px;
}

article:last-of-type {
  margin-bottom: 5em;
}

div {
  margin-left: 0.5em;
}

h2 {
  max-width: 100%;
}

p {
  font-size: 14px;
}
article img {
  width: 5em;
  height: 5em;
  box-shadow: 1px 1px 15px #282828;
}

article button {
  left: 80%;
  top: calc(50% - 1.5em);
  width: 3em;
  height: 3em;
  margin-right: 1em;
}

span {
  display: block;
  margin-left: 0.75em;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 11.5px solid #fff;
}
