body{
    margin:0;
    font-family: sans-serif, Helvetica, Arial;
    background-color: #191414;
}
header {
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(#1db954 ,#191414 87.95%);
}
header img:first-of-type {
    height: 4em;
}

header img:nth-of-type(2){
    height: 2.5em;
}

h1 {
    color: white;
    font-size: 2em;
    font-family: sans-serif;
}

h2{ 
    font-size: 16px;
    font-family: sans-serif, Helvetica, Arial;
    font-weight: normal;
    color: #fff;
    margin: 0;
    max-width: 7em;
}

p { 
    font-family: sans-serif, Helvetica, Arial;
    color: #b3b3b3;
    font-size: 14px;
    margin:0;
}

section:first-of-type{
    /* margin: 1em; */
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

article {
position:relative;
/* background-color: pink; */
background-color: #282828;
min-height: 12em;
padding: 1em;
padding-bottom: 2em;
color: white;
margin: .2em;
}


article:hover{
    background-color: #504f4f;
    transition: .1s;
}

section article:first-of-type img {
    border-radius: 50%;
}

section:first-of-type article img{
    width: 7em;
    height: 7em;
}



section article button{
    position: absolute;
    width: 4em;
    height: 4em;
    top: calc(50% - 4em);
    left: calc(50% - 2em);
    background-color: #1db954de;
    border-radius: 50%;
    border-style: none; 
}

section article p {
    max-width: 7.5em;
}


section:nth-of-type(2) form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

section:nth-of-type(2) form img{
    width: 1.2em;
    height: 1.2em;
    margin-right: .3em;
}

form button{
    font-size: 14px;
    display: flex;
    align-items: center;
    border-style: none;
    border: 0;
    border-radius: 5px;
    height: 3em;
    width: 10.5em;
    color: #fff;
    margin: .2em;
    margin-bottom: .6em;
    margin-top: .6em;
}

form button:first-of-type{
    background-color: #1db954;
}

form button:last-of-type{
    background-color: #e22136;
}
footer {
    position: fixed;
    bottom:0; left:0; right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#191414 ,#1db954 87.95%);;
    height: 4em;
}

footer nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

footer img {
    width: 2em;
    height: 2em;
}

footer a {
    display: flex;
    flex-direction: column; 
}