body{
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1DB954;
}

h1{
    color: white;
}

article {
position:relative;
background-color: rgb(68, 68, 68);
padding: .8em;
color: white;
margin: .2em;
}

section article img{
    width: 8em;
    height: 8em;
}

section:first-of-type{
    /* position: absolute; */
    display:flex;
    flex-wrap: wrap;
    min-width: 400px;
    justify-content:center;
    /* min-width: 25em; */
}

section article button{
    position: absolute;
    width: 4em;
    height: 4em;
    top: calc(50% - 4em);
    left: calc(50% - 2em);
    background-color: #1db954de;
    border-radius: 50%;
    border-style: none; 
}

section article p {
    max-width: 8em;
}


section:nth-of-type(2) form {
    display: flex;
    flex-direction: row-reverse;
}

section:nth-of-type(2) form img {
    width: 5em;
}

form button{
    width: 80%;
    height: 5em;
}

form button:first-of-type{
    background-color: rgb(248, 196, 246);
}

form button:last-of-type{
    background-color: red;
}
footer {
    background-color: #1DB954;
}

footer nav {
    display: flex;
    justify-content: space-between;
}

footer img {
    width: 3em;
}

footer a {
    display: flex;
    flex-direction: column; 
}