<section id="deleteaccount">
    <h1 id="deletetext">Are you sure you want to delete your account?</h1>
    <div id="deletebuttons">
        <form action="/getRemove">
        <button id='yesbutton'><a>Yes</a></button>
        </form>
        <button id="nobutton"><a href="/settings">No</a></button>
    </div>
</section>