<section id="deleteaccount">
    <h1 id="deletetext">Are you sure you want to delete your account?</h1>
    <div id="deletebuttons">
        <form action="/getRemove" method="POST">
        <button id='nobutton'><a>Yes</a></button>
        </form>
        <button id="yesbutton"><a href="/settings">No</a></button>
    </div>
</section>