<section class="login">
    <img class='logo' src="/images/banners/mmm logo-1.png" alt="mmm logo">
    <h1>Welcome to My Music Match</h1>

    {{!-- <form action="/login" method="post">
        <p>Email Adress</p>
        <input type="email" name="username">
        <p>Password</p>
        <input type="password">
    </form> --}}
        <button id="loginButton"><a href="/login">Login with Spotify</a></button>
</section>
<section class="login">
    <h2>No Spotify account yet?</h2>
    <button><a href="https://www.spotify.com/nl/signup/">Signup</a></button>
</section>