<section>
    <form action="/login" method="post">
        <p>username</p>
        <input type="text" name="username">
        <p>Password</p>
        <input type="text">
    </form>
        <button><a href="/login">login</a></button>
</section>
<section>
    <a href="#">Forgot password?</a>
    <p>New here?</p>
    <button>Sign Up</button>
</section>