<section>
    <img class='logo' src="/images/banners/mmm logo-1.png" alt="mmm logo">
    <h1>Welcome to My Music Match</h1>
    <p>To make use of this application you will need a Spotify user account</p>

    {{!-- <form action="/login" method="post">
        <p>Email Adress</p>
        <input type="email" name="username">
        <p>Password</p>
        <input type="password">
    </form> --}}
        <button id="loginButton"><a href="/login">Login with Spotify</a></button>
</section>
<section>
    <a href="#">Forgot password?</a>
    <p>New here?</p>
    <button>Sign Up</button>
</section>