<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Music Match</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="#">
</head>
<body>
<header>
    <nav>
        <a href="/"><img src="/images/banners/mmm logo-1.png" alt="MMM-logo"></a>
        {{#if profileImg}}
        <a href="/profile"><img src="{{profileImg}}" alt="user-profile"></a>
        {{/if}}
    </nav>
    <img src="{{banner}}" alt="banner">
</header>
<main>
    {{{body}}}
</main>
<footer> 
    <nav>
        <a href="/musiclist"><img src="/images/icons/Spotify_Icon_CMYK_White.png" alt="spotify"></a>
        <a href="/match"><img src="{{heartIcon}}" alt="matches"></a>
        <a href="/settings"><img src="/images/icons/gears.png" alt="settings"></a>
    </nav>
</footer>
<script src="/js/index.js"></script>
</body>
</html>